// Components
// @import "./shared/fonts";
@import './components/header';

// Pages
@import './index';
@import './portfolios';
@import './portfolio-detail';
@import './blogs';
@import './about';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica' !important;
}

.absolute {
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.self-typed {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}
/* ORINAL
.base-page {
  padding: 150px 0;
  color: white;
  // background-color: #ecedee;
  // min-height: 100vh;
  // .page-header-title {
  //   font-weight: bold;
  //   display: inline-block;
  //   margin-bottom: 20px;
  // }
}*/
.base-page {
  padding: 150px 0;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;
  .page-header-title {
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-bottom: 20px;
  }
}
/*
html {
  font-size: 1.0rem;
}
*/

.avatar-box {
  img {
    height: 50px;
    border-radius: 50%;
  }

  .subtitle {
    font-size: 14px;
  }
}

